/* NOTE: a cleaner way than this header-duplication would be the usage of html-includes, but they don't work across many browser yet. :/ */

body {
	background-color: rgb(240, 240, 240);
	color: rgb(40, 40, 40);
	padding-bottom: 30px;
}
header{
	background-color: #28393e;
	border-color: #141c1f;
	box-shadow: 0px 1px 5px 5px #888888;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom:50px;
}


a:link, a:visited {
	color: #447e9b;
	text-decoration: none;
}


div.content{
	width: 80%;
	max-width: 1000px;
	margin: auto;
	text-align:left;
}
/* please note: a better design would be the usage of scss and mixins - but copy n paste was the quicker and uglier fix */
div.content_indent{
	width: 80%;
	max-width: 1000px;
	margin: auto;
	text-align:left;
	text-indent:20px;
}
/* this shall be used for previous and next section navigation tags in front of the table of content */
div.pre_nav{
	margin: auto;
	text-align:left;
	max-width: 1200px;
	width: 90%;
	margin-top: 50px;
	margin-bottom: 20px;
}
h2{
	margin-top: 70px;
}
/* overwrite the margin-top to have a better margin with the pre_nav-div-tag */
.toc h2{
	margin-top: 0px;
}

.warning {
	width: 80%;
	max-width: 1000px;
	margin: 20px 20px 40px 30px;
	padding: 20px 15px 20px 20px;
	text-align:left;

	color: #9F6000;
	background-color: #FEEFB3;
	border: 1px solid;
	box-shadow: 0px 1px 4px 3px #aaaaaa;
}
.todo{
	max-width: 90%;
	max-width: 1000px;
	display: inline-block;
	margin: 5px 20px 5px 30px;
	padding: 15px 10px 15px 15px;
	text-align:left;

	color: #9F6000;
	background-color: #b3bee0;
	border: 1px solid;
	box-shadow: 0px 1px 4px 3px #aaaaaa;
}


img.picture {
	width: 75%;
	min-width: 1200px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

img.picture_small {
	width: 50%;
	min-width: 1000px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}


a.button {
	display: inline-block;
	#background-color: #dddddd;
	background-color: #95aac099;
	border: 1.5px solid #999999;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	padding: 9px 9px;
	margin-left: 1px;
	margin-right: 1px;
	box-shadow: 3px 2px 4px #aaaaaa;
}
a > span {
	color: #aa2aad;
}
