body {
	background-color: rgb(240, 240, 240);
	color: rgb(40, 40, 40);
}
header{
	background-color: #28393e;
	border-color: #141c1f;
	box-shadow: 0px 1px 5px 5px #888888;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom:50px;
}


a:link, a:visited {
	color: #447e9b;
	text-decoration: none;
}


div.content{
	width: 80%;
	max-width: 1000px;
	margin: auto;
	text-align:left;
}
/* this shall be used for previous and next section navigation tags in front of the table of content */
div.pre_nav{
	margin-top: 50px;
	margin-bottom: 20px;
}
h2{
	margin-top: 70px;
}
/* overwrite the margin-top to have a better margin with the pre_nav-div-tag */
.toc h2{
	margin-top: 0px;
}


img.picture {
	width: 75%;
	min-width: 1200px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

img.picture_small {
	width: 50%;
	min-width: 1000px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}
